#files_tbl {
    tr {
        &.file_draggable {
            cursor: grab;

            &.dragging {
                opacity: .3;
            }
        }
    }

    .file-row-actions {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        .btn + .btn {
            margin-left: 0;
        }
    }
}